black
coverage==6.5.0
coveralls>=3.3.1
doc8
flake8-comprehensions
ipykernel
mypy
pydocstyle
pylint
pytest-recording
pytest-profiling
pytest-vcr
pytest>=5.3.2
rstcheck
sphinx-autodoc-typehints
sphinx>=2.1.2
types-requests>=2.25.6