interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/amendment/IV
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/const/amendment/IV/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/amendment/IV/
  response:
    body:
      string: '{"heading":"AMENDMENT IV.","content":"The right of the people to be
        secure in their persons, houses, papers, and effects, against unreasonable
        searches and seizures, shall not be violated, and no Warrants shall issue,
        but upon probable cause, supported by Oath or affirmation, and particularly
        describing the place to be searched, and the persons or things to be seized.","children":[],"end_date":null,"node":"/us/const/amendment/IV","start_date":"1791-12-15","url":"https://authorityspoke.com/api/v1/us/const/amendment/IV/","parent":"https://authorityspoke.com/api/v1/us/const/amendment/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
