interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/const
    response:
      body:
        string: ""
      headers:
        Content-Type:
          - text/html; charset=utf-8
        Location:
          - /api/v1/us/const/
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/const/
    response:
      body:
        string: '{"heading":"United States Constitution","start_date":"1788-09-13","node":"/us/const","text_version":null,"url":"http://127.0.0.1:8000/api/v1/us/const/","end_date":null,"children":["http://127.0.0.1:8000/api/v1/us/const/amendment/","http://127.0.0.1:8000/api/v1/us/const/article/"],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/us/"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
