interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/article/I/8/8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/const/article/I/8/8/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/article/I/8/8/
  response:
    body:
      string: '{"heading":"Patents and copyrights.","content":"To promote the Progress
        of Science and useful Arts, by securing for limited Times to Authors and Inventors
        the exclusive Right to their respective Writings and Discoveries;","children":[],"end_date":null,"node":"/us/const/article/I/8/8","start_date":"1788-09-13","url":"https://authorityspoke.com/api/v1/us/const/article/I/8/8/","parent":"https://authorityspoke.com/api/v1/us/const/article/I/8/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
