interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/4/b/
  response:
    body:
      string: '{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/4/b","text_version":{"id":1142665,"url":"https://authorityspoke.com/api/v1/textversions/1142665/","content":"exists
        in an uninterrupted line from the front of one ear to the front of the other
        ear below the nose."},"url":"https://authorityspoke.com/api/v1/test/acts/47/4/b/","end_date":null,"children":[],"citations":[],"parent":"https://authorityspoke.com/api/v1/test/acts/47/4/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
