interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/const/article/III/1/
    response:
      body:
        string:
          '{"heading":"The judges, their terms, and compensation.","start_date":"1788-09-13","node":"/us/const/article/III/1","text_version":{"id":735685,"url":"http://127.0.0.1:8000/api/v1/textversions/735685/","content":"The
          judicial Power of the United States, shall be vested in one supreme Court,
          and in such inferior Courts as the Congress may from time to time ordain and
          establish. The Judges, both of the supreme and inferior Courts, shall hold
          their Offices during good Behaviour, and shall, at stated Times, receive for
          their Services, a Compensation, which shall not be diminished during their
          Continuance in Office."},"url":"http://127.0.0.1:8000/api/v1/us/const/article/III/1/","end_date":null,"children":[],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/us/const/article/III/"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/const/article/III/1@1788-09-13
    response:
      body:
        string:
          '{"heading":"The judges, their terms, and compensation.","start_date":"1788-09-13","node":"/us/const/article/III/1","text_version":{"id":735685,"url":"http://127.0.0.1:8000/api/v1/textversions/735685/","content":"The
          judicial Power of the United States, shall be vested in one supreme Court,
          and in such inferior Courts as the Congress may from time to time ordain and
          establish. The Judges, both of the supreme and inferior Courts, shall hold
          their Offices during good Behaviour, and shall, at stated Times, receive for
          their Services, a Compensation, which shall not be diminished during their
          Continuance in Office."},"url":"http://127.0.0.1:8000/api/v1/us/const/article/III/1@1788-09-13","end_date":null,"children":[],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/us/const/article/III@1788-09-13"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
