interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/8/2/
  response:
    body:
      string: '{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2","text_version":{"id":1142683,"url":"https://authorityspoke.com/api/v1/textversions/1142683/","content":"Any
        such person issued a notice to remedy under subsection 1 must either:"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/","end_date":null,"children":[{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/a","text_version":{"id":1142680,"url":"https://authorityspoke.com/api/v1/textversions/1142680/","content":"shave
        in such a way that they are no longer in breach of section 5, or"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/a/","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/5","target_url":"https://authorityspoke.com/api/v1/test/acts/47/5/","target_node":1386964,"reference_text":"section
        5"}]},{"heading":"","start_date":"2013-07-18","node":"/test/acts/47/8/2/b","text_version":{"id":1142702,"url":"https://authorityspoke.com/api/v1/textversions/1142702/","content":"remove
        the beard with electrolysis, or"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/b/","end_date":null,"children":[],"citations":[]},{"heading":"","start_date":"2013-07-18","node":"/test/acts/47/8/2/b-con","text_version":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/8/2/a/
  response:
    body:
      string: '{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/a","text_version":{"id":1142680,"url":"https://authorityspoke.com/api/v1/textversions/1142680/","content":"shave
        in such a way that they are no longer in breach of section 5, or"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/a/","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/5","target_url":"https://authorityspoke.com/api/v1/test/acts/47/5/","target_node":1386964,"reference_text":"section
        5"}],"parent":"https://authorityspoke.com/api/v1/test/acts/47/8/2/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
