interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/8/2@1999-01-01
  response:
    body:
      string: '{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2","text_version":{"id":1142683,"url":"https://authorityspoke.com/api/v1/textversions/1142683/","content":"Any
        such person issued a notice to remedy under subsection 1 must either:"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2@1999-01-01","end_date":null,"children":[{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/a","text_version":{"id":1142680,"url":"https://authorityspoke.com/api/v1/textversions/1142680/","content":"shave
        in such a way that they are no longer in breach of section 5, or"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/a@1999-01-01","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/5","target_url":"https://authorityspoke.com/api/v1/test/acts/47/5@1999-01-01","target_node":1386964,"reference_text":"section
        5"}]},{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/b","text_version":{"id":1142681,"url":"https://authorityspoke.com/api/v1/textversions/1142681/","content":"obtain
        a beardcoin from the Department of Beards"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/b@1999-01-01","end_date":"2013-07-18","children":[],"citations":[]},{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/b-con","text_version":{"id":1142682,"url":"https://authorityspoke.com/api/v1/textversions/1142682/","content":"within
        14 days of such notice being issued to them."},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2/b-con@1999-01-01","end_date":"2013-07-18","children":[],"citations":[]}],"citations":[{"target_uri":"/test/acts/47/8/1","target_url":"https://authorityspoke.com/api/v1/test/acts/47/8/1@1999-01-01","target_node":1386980,"reference_text":"subsection
        1"}],"parent":"https://authorityspoke.com/api/v1/test/acts/47/8@1999-01-01"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
