interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t15/s9021/a/3/B/
  response:
    body:
      string: "{\"heading\":\"\",\"start_date\":\"2020-04-10\",\"node\":\"/us/usc/t15/s9021/a/3/B\",\"text_version\":{\"id\":752627,\"url\":\"https://authorityspoke.com/api/v1/textversions/752627/\",\"content\":\"does
        not include\u2014\"},\"url\":\"https://authorityspoke.com/api/v1/us/usc/t15/s9021/a/3/B/\",\"end_date\":null,\"children\":[{\"heading\":\"\",\"start_date\":\"2020-04-10\",\"node\":\"/us/usc/t15/s9021/a/3/B/i\",\"text_version\":{\"id\":902629,\"url\":\"https://authorityspoke.com/api/v1/textversions/902629/\",\"content\":\"an
        individual who has the ability to telework with pay; or\"},\"url\":\"https://authorityspoke.com/api/v1/us/usc/t15/s9021/a/3/B/i/\",\"end_date\":null,\"children\":[],\"citations\":[]},{\"heading\":\"\",\"start_date\":\"2020-04-10\",\"node\":\"/us/usc/t15/s9021/a/3/B/ii\",\"text_version\":{\"id\":902630,\"url\":\"https://authorityspoke.com/api/v1/textversions/902630/\",\"content\":\"an
        individual who is receiving paid sick leave or other paid leave benefits,
        regardless of whether the individual meets a qualification described in items
        (aa) through (kk) of subparagraph (A)(i)(I).\"},\"url\":\"https://authorityspoke.com/api/v1/us/usc/t15/s9021/a/3/B/ii/\",\"end_date\":null,\"children\":[],\"citations\":[]}],\"citations\":[],\"parent\":\"https://authorityspoke.com/api/v1/us/usc/t15/s9021/a/3/\"}"
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
