interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t17/s501/
  response:
    body:
      string: "{\"heading\":\"Infringement of copyright\",\"start_date\":\"2013-07-18\",\"node\":\"/us/usc/t17/s501\",\"url\":\"https://authorityspoke.com/api/v1/us/usc/t17/s501/\",\"end_date\":null,\"content\":\"\",\"children\":[{\"heading\":\"\",\"start_date\":\"2013-07-18\",\"node\":\"/us/usc/t17/s501/a\",\"url\":\"https://authorityspoke.com/api/v1/us/usc/t17/s501/a/\",\"end_date\":null,\"content\":\"Anyone
        who violates any of the exclusive rights of the copyright owner as provided
        by sections 106 through 122 or of the author as provided in section 106A(a),
        or who imports copies or phonorecords into the United States in violation
        of section 602, is an infringer of the copyright or right of the author, as
        the case may be. For purposes of this chapter (other than section 506), any
        reference to copyright shall be deemed to include the rights conferred by
        section 106A(a). As used in this subsection, the term \u201Canyone\u201D includes
        any State, any instrumentality of a State, and any officer or employee of
        a State or instrumentality of a State acting in his or her official capacity.
        Any State, and any such instrumentality, officer, or employee, shall be subject
        to the provisions of this title in the same manner and to the same extent
        as any nongovernmental entity.\",\"children\":[],\"citations\":[]},{\"heading\":\"\",\"start_date\":\"2013-07-18\",\"node\":\"/us/usc/t17/s501/b\",\"url\":\"https://authorityspoke.com/api/v1/us/usc/t17/s501/b/\",\"end_date\":null,\"content\":\"The
        legal or beneficial owner of an exclusive right under a copyright is entitled,
        subject to the requirements of section 411, to institute an action for any
        infringement of that particular right committed while he or she is the owner
        of it. The court may require such owner to serve wri[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/citations_to/us/usc/t17/s501/
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"content":"Any person
        who distributes a phonorecord or a copy of a computer program (including any
        tape, disk, or other medium embodying such program) in violation of paragraph
        (1) is an infringer of copyright under section 501 of this title and is subject
        to the remedies set forth in sections 502, 503, 504, and 505. Such violation
        shall not be a criminal offense under section 506 or cause such person to
        be subject to the criminal penalties set forth in section 2319 of title 18.","locations":[{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s109/b/4","url":"https://authorityspoke.com/api/v1/us/usc/t17/s109/b/4/","end_date":null}],"citations":[{"target_uri":"/us/usc/t17/s501","target_url":"https://authorityspoke.com/api/v1/us/usc/t17/s501/","target_node":1252985,"reference_text":"section
        501 of this title"},{"target_uri":"/us/usc/t18/s2319","target_url":"https://authorityspoke.com/api/v1/us/usc/t18/s2319/","target_node":1151186,"reference_text":"section
        2319 of title 18"}]},{"content":"The relevant provisions of paragraphs (2)
        through (11) of section 34(d) of the Trademark Act (15 U.S.C. 1116(d)(2) through
        (11)) shall extend to any impoundment of records ordered under paragraph (1)(C)
        that is based upon an ex parte application, no[...]
