interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/test/acts/47/1/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/1/
  response:
    body:
      string: '{"heading":"Short title","content":"This Act may be cited as the Australian
        Beard Tax (Promotion of Enlightenment Values) Act 1934.","start_date":"1935-04-01","node":"/test/acts/47/1","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/1/","citations":[],"parent":"https://authorityspoke.com/api/v1/test/acts/47/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
