interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test@2020-01-01/
  response:
    body:
      string: '{"heading":"Test Legislation","start_date":"1935-04-01","node":"/test","text_version":{"id":735568,"url":"https://authorityspoke.com/api/v1/textversions/735568/","content":"See
        https://github.com/mscarey/example-rules-as-code for documentation."},"url":"https://authorityspoke.com/api/v1/test@2020-01-01/","end_date":null,"children":["https://authorityspoke.com/api/v1/test/acts@2020-01-01/"],"citations":[],"parent":null}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
