interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/
  response:
    body:
      string: '{"heading":"United States Legislation","content":"","children":["https://authorityspoke.com/api/v1/us/const/","https://authorityspoke.com/api/v1/us/usc/"],"end_date":null,"node":"/us","start_date":"1776-07-04","url":"https://authorityspoke.com/api/v1/us/","parent":null}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
