interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/article/III/1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/const/article/III/1/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/article/III/1/
  response:
    body:
      string: '{"heading":"The judges, their terms, and compensation.","content":"The
        judicial Power of the United States, shall be vested in one supreme Court,
        and in such inferior Courts as the Congress may from time to time ordain and
        establish. The Judges, both of the supreme and inferior Courts, shall hold
        their Offices during good Behaviour, and shall, at stated Times, receive for
        their Services, a Compensation, which shall not be diminished during their
        Continuance in Office.","start_date":"1788-09-13","node":"/us/const/article/III/1","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/us/const/article/III/1/","citations":[],"parent":"https://authorityspoke.com/api/v1/us/const/article/III/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
