interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/test/acts/47/1
    response:
      body:
        string: ""
      headers:
        Content-Type:
          - text/html; charset=utf-8
        Location:
          - /api/v1/test/acts/47/1/
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/test/acts/47/1/
    response:
      body:
        string:
          '{"heading":"Short title","start_date":"1935-04-01","node":"/test/acts/47/1","text_version":{"id":1376000,"url":"http://127.0.0.1:8000/api/v1/textversions/1376000/","content":"This
          Act may be cited as the Australian Beard Tax (Promotion of Enlightenment Values)
          Act 1934."},"url":"http://127.0.0.1:8000/api/v1/test/acts/47/1/","end_date":null,"children":[],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/test/acts/47/"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
