interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/6A@1999-01-01/
  response:
    body:
      string: '{"heading":"Levy of beard tax","start_date":"1935-04-01","node":"/test/acts/47/6A","text_version":{"id":1142670,"url":"https://authorityspoke.com/api/v1/textversions/1142670/","content":"Where
        the Department provides an exemption from the prohibition in section 5, except
        as defined in section 6D, the person to whom such exemption is granted shall
        be liable to pay to the Department of Beards such fee as may be levied under
        section 6B."},"url":"https://authorityspoke.com/api/v1/test/acts/47/6A@1999-01-01/","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/5","target_url":"https://authorityspoke.com/api/v1/test/acts/47/5@1999-01-01","target_node":1386964,"reference_text":"section
        5"},{"target_uri":"/test/acts/47/6D","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6D@1999-01-01/","target_node":1386971,"reference_text":"section
        6D"},{"target_uri":"/test/acts/47/6B","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6B@1999-01-01/","target_node":1386969,"reference_text":"section
        6B"}],"parent":"https://authorityspoke.com/api/v1/test/acts/47@1999-01-01/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
