interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/usc/t17/s102/a/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/a/
  response:
    body:
      string: '{"heading":"","content":"Copyright protection subsists, in accordance
        with this title, in original works of authorship fixed in any tangible medium
        of expression, now known or later developed, from which they can be perceived,
        reproduced, or otherwise communicated, either directly or with the aid of
        a machine or device. Works of authorship include the following categories:","start_date":"2013-07-18","node":"/us/usc/t17/s102/a","children":[{"heading":"","content":"literary
        works;","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/1","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/1/","citations":[]},{"heading":"","content":"musical
        works, including any accompanying words;","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/2","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/2/","citations":[]},{"heading":"","content":"dramatic
        works, including any accompanying music;","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/3","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/3/","citations":[]}[...]
