interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc@2020-01-01/
  response:
    body:
      string: '{"heading":"United States Code (USC)","start_date":"1926-06-30","node":"/us/usc","text_version":null,"url":"https://authorityspoke.com/api/v1/us/usc@2020-01-01/","end_date":null,"children":["https://authorityspoke.com/api/v1/us/usc/t1@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t2@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t3@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t4@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t5@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t6@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t7@2020-01-01/","https://authorityspoke.com/api/v1/us/usc/t8@2020-01-01/","https://authorityspoke.com/api/v1/[...]
