interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/const/amendment/IV/
    response:
      body:
        string:
          '{"heading":"AMENDMENT IV.","start_date":"1791-12-15","node":"/us/const/amendment/IV","text_version":{"id":735706,"url":"http://127.0.0.1:8000/api/v1/textversions/735706/","content":"The
          right of the people to be secure in their persons, houses, papers, and effects,
          against unreasonable searches and seizures, shall not be violated, and no
          Warrants shall issue, but upon probable cause, supported by Oath or affirmation,
          and particularly describing the place to be searched, and the persons or things
          to be seized."},"url":"http://127.0.0.1:8000/api/v1/us/const/amendment/IV/","end_date":null,"children":[],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/us/const/amendment/"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
