interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/test/acts/47/4/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/4/
  response:
    body:
      string: '{"heading":"Beard, defined","content":"In this Act, beard means any
        facial hair no shorter than 5 millimetres in length that:","start_date":"1935-04-01","node":"/test/acts/47/4","children":[{"heading":"","content":"occurs
        on or below the chin, or","start_date":"1935-04-01","node":"/test/acts/47/4/a","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/4/a/","citations":[]},{"heading":"","content":"exists
        in an uninterrupted line from the front of one ear to the front of the other
        ear below the nose.","start_date":"1935-04-01","node":"/test/acts/47/4/b","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/4/b/","citations":[]}],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/4/","citations":[],"parent":"https://authorityspoke.com/api/v1/test/acts/47/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
