interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/6D
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/test/acts/47/6D/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/6D/
  response:
    body:
      string: '{"heading":"Waiver of beard tax in special circumstances","content":"","start_date":"1935-04-01","node":"/test/acts/47/6D","children":[{"heading":"","content":"The
        Department of Beards shall waive the collection of beard tax upon issuance
        of beardcoin under Section 6C where the reason the maintainer wears a beard
        is due to bona fide religious, cultural, or medical reasons.","start_date":"2013-07-18","node":"/test/acts/47/6D/1","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/6D/1/","citations":[{"target_uri":"/test/acts/47/6C","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6C/","target_node":1386970,"reference_text":"Section
        6C"}]},{"heading":"","content":"The determination of the Department of Beards
        as to what constitutes bona fide religious or cultural reasons shall be final
        and no right of appeal shall exist.","start_date":"1935-04-01","node":"/test/acts/47/6D/2","children":[],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/6D/2/","citations":[]}],"end_date":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/6D/","citations":[],"parent":"https://authorityspoke.com/api/v1/test/acts/47/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
