interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/usc/t17/s102/a/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/a/
  response:
    body:
      string: '{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s102/a","text_version":{"id":1030579,"url":"https://authorityspoke.com/api/v1/textversions/1030579/","content":"Copyright
        protection subsists, in accordance with this title, in original works of authorship
        fixed in any tangible medium of expression, now known or later developed,
        from which they can be perceived, reproduced, or otherwise communicated, either
        directly or with the aid of a machine or device. Works of authorship include
        the following categories:"},"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/","end_date":null,"children":[{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/1","text_version":{"id":1030571,"url":"https://authorityspoke.com/api/v1/textversions/1030571/","content":"literary
        works;"},"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/1/","end_date":null,"children":[],"citations":[]},{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/2","text_version":{"id":1030572,"url":"https://authorityspoke.com/api/v1/textversions/1030572/","content":"musical
        works, including any accompanying words;"},"url":"https://authorityspoke.com/api/v1/us/usc/t17/s102/a/2/","end_date":null,"children":[],"citations":[]},{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s102/a/3","text_version":{"id":1030573,"url":"https://authorityspoke.com/api/v1/textversions/1[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/coverage/us/usc/
  response:
    body:
      string: '{"uri":"/us/usc","latest_heading":"United States Code (USC)","first_published":"1926-06-30","earliest_in_db":"2013-07-18","latest_in_db":"2020-08-08"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
