interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/b
    response:
      body:
        string: ""
      headers:
        Content-Type:
          - text/html; charset=utf-8
        Location:
          - /api/v1/us/usc/t17/s102/b/
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://authorityspoke.com/api/v1/us/usc/t17/s102/b/
    response:
      body:
        string:
          '{"heading":"","start_date":"2013-07-18","node":"/us/usc/t17/s102/b","text_version":{"id":1030580,"url":"http://127.0.0.1:8000/api/v1/textversions/1030580/","content":"In
          no case does copyright protection for an original work of authorship extend
          to any idea, procedure, process, system, method of operation, concept, principle,
          or discovery, regardless of the form in which it is described, explained,
          illustrated, or embodied in such work."},"url":"http://127.0.0.1:8000/api/v1/us/usc/t17/s102/b/","end_date":null,"children":[],"citations":[],"parent":"http://127.0.0.1:8000/api/v1/us/usc/t17/s102/"}'
      headers:
        Allow:
          - GET, POST, PUT, PATCH, HEAD, OPTIONS
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
