interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/citations_to/us/usc/t2/s1301/
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"results":[{"content":"has the
        meaning given the term under section 1301 of this title; and","locations":[{"heading":"","start_date":"2013-07-18","node":"/us/usc/t2/s60c-5/a/2/A"},{"heading":"","start_date":"2014-01-16","node":"/us/usc/t2/s4579/a/2/A"},{"heading":"","start_date":"2018-05-09","node":"/us/usc/t2/s4579/a/4/A"}],"citations":[{"target_uri":"/us/usc/t2/s1301","target_url":"https://authorityspoke.com/api/v1/us/usc/t2/s1301/","target_node":903770,"reference_text":"section
        1301 of this title"}],"url":"https://authorityspoke.com/api/v1/textversions/736234/"},{"content":"means
        the employing office, as defined under section 1301 of this title, of an employee
        of the Senate; and","locations":[{"heading":"","start_date":"2013-07-18","node":"/us/usc/t2/s60c-5/a/3/A"},{"heading":"","start_date":"2014-01-16","node":"/us/usc/t2/s4579/a/3/A"},{"heading":"","start_date":"2018-05-09","node":"/us/usc/t2/s4579/a/5/A"}],"citations":[{"target_uri":"/us/usc/t2/s1301","target_url":"https://auth[...]
