interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/1@1999-01-01/
  response:
    body:
      string: '{"heading":"Short title","start_date":"1935-04-01","node":"/test/acts/47/1","text_version":{"id":1142661,"url":"https://authorityspoke.com/api/v1/textversions/1142661/","content":"This
        Act may be cited as the Australian Beard Tax (Promotion of Enlightenment Values)
        Act 1934."},"url":"https://authorityspoke.com/api/v1/test/acts/47/1@1999-01-01/","end_date":null,"children":[],"citations":[],"parent":"https://authorityspoke.com/api/v1/test/acts/47@1999-01-01/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
