interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/amendment/V/
  response:
    body:
      string: '{"heading":"AMENDMENT V.","start_date":"1791-12-15","node":"/us/const/amendment/V","text_version":{"id":735707,"url":"https://authorityspoke.com/api/v1/textversions/735707/","content":"No
        person shall be held to answer for a capital, or otherwise infamous crime,
        unless on a presentment or indictment of a Grand Jury, except in cases arising
        in the land or naval forces, or in the Militia, when in actual service in
        time of War or public danger; nor shall any person be subject for the same
        offence to be twice put in jeopardy of life or limb; nor shall be compelled
        in any Criminal Case to be a witness against himself; nor be deprived of life,
        liberty, or property, without due process of law; nor shall private property
        be taken for public use, without just compensation."},"url":"https://authorityspoke.com/api/v1/us/const/amendment/V/","end_date":null,"children":[],"citations":[],"parent":"https://authorityspoke.com/api/v1/us/const/amendment/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
