interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/amendment/XIV/
  response:
    body:
      string: '{"heading":"AMENDMENT XIV.","start_date":"1868-07-28","node":"/us/const/amendment/XIV","text_version":null,"url":"https://authorityspoke.com/api/v1/us/const/amendment/XIV/","end_date":null,"children":[{"heading":"Citizenship:
        security and equal protection of citizens.","start_date":"1868-07-28","node":"/us/const/amendment/XIV/1","text_version":{"id":735717,"url":"https://authorityspoke.com/api/v1/textversions/735717/","content":"All
        persons born or naturalized in the United States, and subject to the jurisdiction
        thereof, are citizens of the United States and of the State wherein they reside.
        No State shall make or enforce any law which shall abridge the privileges
        or immunities of citizens of the United States; nor shall any State deprive
        any person of life, liberty, or property, without due process of law; nor
        deny to any person within its jurisdiction the equal protection of the laws."},"url":"https://authorityspoke.com/api/v1/us/const/amendment/XIV/1/","end_date":null,"children":[],"citations":[]},{"heading":"Apportionment
        of representation.","start_date":"1868-07-28","node":"/us/const/amendment/XIV/2","text_version":{"id":735718,"url":"https://authorityspoke.com/api/v1/textversions/735718/","content":"Representatives
        shall be apportioned among the several States according to their respective
        numbers, counting the whole number of persons in each State, excluding Indians
        not taxed. But when the right to vote at any election for the choice of electors
   [...]
