interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/
  response:
    body:
      string: '{"heading":"United States Legislation","start_date":"1776-07-04","node":"/us","text_version":null,"url":"https://authorityspoke.com/api/v1/us/","end_date":null,"children":["https://authorityspoke.com/api/v1/us/const/","https://authorityspoke.com/api/v1/us/usc/"],"citations":[],"parent":null}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
