interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/6D/1@1935-04-01/
  response:
    body:
      string: '{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/6D/1","text_version":{"id":1142673,"url":"https://authorityspoke.com/api/v1/textversions/1142673/","content":"The
        Department of Beards shall waive the collection of beard tax upon issuance
        of beardcoin under Section 6C where the reason the maintainer wears a beard
        is due to bona fide religious or cultural reasons."},"url":"https://authorityspoke.com/api/v1/test/acts/47/6D/1@1935-04-01/","end_date":"2013-07-18","children":[],"citations":[{"target_uri":"/test/acts/47/6C","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6C@1935-04-01/","target_node":1386970,"reference_text":"Section
        6C"}],"parent":"https://authorityspoke.com/api/v1/test/acts/47/6D@1935-04-01/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/6D/1@2013-07-18/
  response:
    body:
      string: '{"heading":"","start_date":"2013-07-18","node":"/test/acts/47/6D/1","text_version":{"id":1142700,"url":"https://authorityspoke.com/api/v1/textversions/1142700/","content":"The
        Department of Beards shall waive the collection of beard tax upon issuance
        of beardcoin under Section 6C where the reason the maintainer wears a beard
        is due to bona fide religious, cultural, or medical reasons."},"url":"https://authorityspoke.com/api/v1/test/acts/47/6D/1@2013-07-18/","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/6C","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6C@2013-07-18/","target_node":1386970,"reference_text":"Section
        6C"}],"parent":"https://authorityspoke.com/api/v1/test/acts/47/6D@2013-07-18/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
