interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/47/8@1950-01-01/
  response:
    body:
      string: '{"heading":"Notice to remedy","start_date":"1935-04-01","node":"/test/acts/47/8","text_version":null,"url":"https://authorityspoke.com/api/v1/test/acts/47/8@1950-01-01/","end_date":null,"children":[{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/1","text_version":{"id":1142679,"url":"https://authorityspoke.com/api/v1/textversions/1142679/","content":"Where
        an officer of the Department of Beards, Australian Federal Police, state or
        territorial police, or military police of the Australian Defence Force finds
        a person to be wearing a beard within the territory of the Commonwealth of
        Australia, and that person fails or is unable to produce a beardcoin as proof
        of holding an exemption under section 6, that officer shall in the first instance
        issue such person a notice to remedy."},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/1@1950-01-01/","end_date":null,"children":[],"citations":[{"target_uri":"/test/acts/47/6","target_url":"https://authorityspoke.com/api/v1/test/acts/47/6@1950-01-01/","target_node":1386965,"reference_text":"section
        6"}]},{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2","text_version":{"id":1142683,"url":"https://authorityspoke.com/api/v1/textversions/1142683/","content":"Any
        such person issued a notice to remedy under subsection 1 must either:"},"url":"https://authorityspoke.com/api/v1/test/acts/47/8/2@1950-01-01/","end_date":null,"children":[{"heading":"","start_date":"1935-04-01","node":"/test/acts/47/8/2/a","text_version":{"id":1142680,"url":"https://authoritys[...]
